*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 100px;
}
h1{
    text-align: center;
    color: green;
    font-size: 4rem;
    font-weight: 800;
}

section{
    width: fit-content;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border-radius: 15px;
    padding: 15px 21px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

textarea{
    padding: 10px 15px;
    height: 210px;
    width: 35vh;
    border-radius: 10px;
    box-shadow: inset gray 0px 0px 60px -12px;
    border-style: none;
}
button{
    padding: 5px 10px;
    border-radius: 10px;
    background-color: green;
    font-size: 21px;
    font-weight: 700;
    border-style: none;
    cursor: pointer;
    color: white;
    width: 100px;
}
.content{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    grid-area: 15px;
    align-items: center;
}

.content h4{
    margin-right: 18px;
    font-weight: 700;
}
.content p{
    font-size: 1rem;
    font-weight: 600;
    color: green;
}